
 * {
      margin: 0;
      padding: 0;
    }
    .social {
      display: flex;
      justify-content: space-between;
      background-color: aqua;
      padding: 0 30px;
    }
    .nav_wrapper {
      display: flex;
      justify-content: space-between;
      background-color: aquamarine;
    }
    .links {
      display: flex;
      justify-content: space-around;
    }